<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <div class="card-topper" style='background-image: url(<%= post.image %>);'></div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.gadget, post %></h4>
      <p class="published-date"><%= post.display_day_published %></p>
      <p class="card-text"><%= truncate(post.description, length: 130) %></p>
      <%= link_to 'Read', post, class: 'btn btn-read' %>
    </div>
  </div>
</div>
